<%- include("partials/header.ejs") %>


<div class="created-blog">
    <div class="created-blog2">
        <a id="newPostBtn" href="/new">New Post</a>
        <%  if(locals.posts) { %>
           <% posts.forEach( function(post) { %>
                <div class="blog">
                    <h2 id="title"><%= post.title %></h2> <hr>
                    <small id="date"><%= post.date %></small>
                    <p id="content"><%= post.content %></p>
                    <small id="author">
                        By: <%= post.author %>
                    </small> <br>
                    <div class="buttons">
                        <a class="edit" href="/edit/<%= post.id %>"><i class="ri-pencil-line"></i></a>
                        <a class="delete" href="/api/posts/delete/<%= post.id %>"><i class="ri-delete-bin-6-line"></i></a>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>

      

<%- include("partials/footer.ejs") %>
       