<%- include("partials/header.ejs") %>
    <div id="modified-div">

    <h1 id="modified-heading">
        <%= heading %>
    </h1>
    
    <%  if (locals.post) { %>
        <form id="editForm" method="POST" action="/api/posts/<%= post.id %>">
            <input type="text" name="title" value="<%= post.title %>">
            <textarea  id="content" name="content" rows="10"><%= post.content %></textarea>
            <input type="text" name="author" value="<%= post.author %>">
            <button id="btn-submit1" class="full-width" type="submit"><%= submit %></button>
        </form>
        <% } else { %>
            <form id="newPostForm" method="POST" action="/api/posts">
                <input type="text" name="title" placeholder="Title" required>
                <textarea  id="content" name="content" rows="10" placeholder="Content" required></textarea>
                <input type="text" name="author" placeholder="Author" required>
                <button id="btn-submit2" class="full-width" type="submit"><%= submit %></button>
            </form>
            <% } %>
    </div>

<%- include("partials/footer.ejs") %>